In [8]:
import pandas as pd
from datetime import datetime
pd.set_option("display.max_columns", None)

In [9]:
dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
df = pd.read_csv('MiningProcess_Flotation_Plant_Database.csv', parse_dates={'datetime': ['date']}, date_parser=dateparse, decimal=',')

In [10]:
df.head(3)

,datetime,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,Flotation Column 03 Air Flow,Flotation Column 04 Air Flow,Flotation Column 05 Air Flow,Flotation Column 06 Air Flow,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,55.2,16.98,3019.53,557.434,395.713,10.0664,1.74,249.214,253.235,250.576,295.096,306.4,250.225,250.884,457.396,432.962,424.954,443.558,502.255,446.370,523.344,66.91,1.31
1,2017-03-10 01:00:00,55.2,16.98,3024.41,563.965,397.383,10.0672,1.74,249.719,250.532,250.862,295.096,306.4,250.137,248.994,451.891,429.560,432.939,448.086,496.363,445.922,498.075,66.91,1.31
2,2017-03-10 01:00:00,55.2,16.98,3043.46,568.054,399.668,10.0680,1.74,249.741,247.874,250.313,295.096,306.4,251.345,248.071,451.240,468.927,434.610,449.688,484.411,447.826,458.567,66.91,1.31

In [11]:
# df = df.drop('% Iron Feed', axis=1)

In [12]:
print(f"Mining data is from {df['datetime'].min():%d/%m/%Y} to {df['datetime'].max():%d/%m/%Y}")

Mining data is from 10/03/2017 to 09/09/2017

In [13]:
df.groupby(df.datetime.dt.to_period('M')).agg('count')['% Silica Feed']

datetime
2017-03     37614
2017-04    129599
2017-05    133920
2017-06    129600
2017-07    133920
2017-08    133920
2017-09     38880
Freq: M, Name: % Silica Feed, dtype: int64

In [14]:
for month in df.datetime.dt.to_period('M').unique():
    df[df.datetime.dt.to_period('M') == month].to_parquet(f"mining_data_{month}.parquet")